<section>
  <div class="container">
    <div id="clearance" class="sign-in">
      <h3 class="title is-3"><%= t(".title") %></h3>
      <%= render partial: '/sessions/form' %>
    </div>
  </div>
</section>
