<%= form_for comment, remote: true do |form| %>
	<%= render 'shared/form_errors', object: @comment %>

	<div class="field">
		<label for="body" class="label">How's it going?</label>
		<div class="control is-expanded">
			<%= form.text_field :body,
													class: 'input',
													placeholder: "My litle man just crawled!!" %>
		</div>
	</div>
<% end %>
