<div class="fs-2"><%= Lib::Constants::CREATE_COMMENT_LABEL_EXAMPLES.sample %> 👀</div>

<%= form_for comment, remote: true do |form| %>
  <div class="mb-2">
    <%= form.text_area :body,
                  class: "form-control form-control-lg",
                  placeholder: Lib::Constants::CREATE_COMMENT_EXAMPLES.sample %>
  </div>
    <%= form.submit "Share", class: "btn btn-dark btn-lg text-uppercase w-100" %>

<% end %>
