<%= form_for [comment, Comment.new], url: comment_replies_path(comment), remote: true do |form| %>
  <div class="mb-1">
    <%= form.text_area :body,
                       class: "form-control form-control-sm",
                       placeholder: "Reply to #{comment.user.first_name}" %>
  </div>
  <%= form.submit "Share", class: "btn btn-outline-dark btn-sm text-uppercase w-100" %>
<% end %>
