<section id="create-comment" class="bg-dark bg-gradient bg-opacity-10 p-4 mb-4 rounded">
  <%= render "comments/root_form", comment: @comment %>
</section>

<section class="comments">
  <%= render "comments/root_comments", root_comments: @root_comments %>
</section>
