<section id="create-comment" class="container has-background-grey-lighter">
  <%= render "comments/create_form", comment: @comment %>
</section>

<section class="comments container">
  <%= render 'comments/root', root_comments: @root_comments %>
</section>
