<section id="create-comment" class="text-bg-dark bg-gradient p-4 mb-4 rounded">
  <%= render "comments/root_form", comment: @comment %>
</section>

<section class="comments reactionable-wrapper">
  <%= render "comments/root_comments", root_comments: @root_comments, cached: true %>
</section>
