<div class="container fs-4">
  <h1 class="mb-4">About</h1>
	<p>
	  One day I woke up and suddenly had two kids
		<%= link_to "(original Instagram announcement)",
		            "https://www.instagram.com/p/CnAOzkhJIK2/",
								target: "_blank" %>.
	</p>

	<p>
		Being a father has been hella challenging and amazing over the last three+
		years. It led me to think about the experiences of other dads &mdash; they say
		there's an app for everything, but where is the community for us to just chat,
		laugh, vent, etc. and share in the daily experiences of fatherhood?
	</p>

	<p>
		I searched but didn't find what I was looking for so that's how The Daddy App
		came to be.
	</p>

	<p>
		<strong>
		  We're <i>very</i> excited to bring this community to life and make it the
			number one space for fathers.
		</strong>
	</p>

	<p>
	  Talk soon,
		<br>
		Danelson Sr.
	</p>
	<p>
		<small>Chief Diaper Changer</small>
		<br>
		<small>Daddy to Danelson Jr., 3.5 years old and Zuri, 7.5 months old</small>
	</p>

	<p class="attributions">
		P.S. Like the baby images on the homepage? They were made by
		<a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">
			Darius Dan
		</a>
		from
		<a href="https://www.flaticon.com/"
			title="Flaticon">www.flaticon.com
		</a>
	</p>
</div>

