<div class="container fs-4">
  <h1 class="mb-4">Contact Us</h1>
	<p>
	  Whether it's for any of the reasons below, we'd love to hear from you
		at <mark>hello@thedaddyapp.com</mark>. We respond to every message we
		receive.
	</p>
	<ul>
	  <li>Have any good or "bad" feedback for the app?</li>
	  <li>Want to be a sponsor?</li>
	  <li>Interested in a partnership?</li>
	  <li>Need a press kit?</li>
	  <li>Want to join the team and help make this the best app for fathers?</li>
		<li>Want to reach out for a reason not listed?</li>
  </ul>
</div>
