<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
		  <%= link_to "Home", signed_in_root_path, class: "text-decoration-none" %>
		</li>
    <li class="breadcrumb-item">
		  <%= link_to "Support", support_path, class: "text-decoration-none" %>
		</li>
    <li class="breadcrumb-item active" aria-current="page">
		  Frequently Asked Questions
		</li>
  </ol>
</nav>

<div class="fs-4">
  <h1 class="mb-4">Frequently Asked Questions</h1>

	<p>
	  <strong>
		  Why did you create this app?
		</strong>
		<br>
		We're fathers just like you who wanted a space for dads to connect and share
		what we go through on the daily. There's so much to build and we're just
		getting started!
	</p>

	<p>
	  <strong>
		  How do I make a post?
		</strong>
		<br>
		Go to the "🏠 Home" page and at the top you'll see a section with a default
		question shown. Underneath it is a big input field &mdash; type what you
		want to post and then hit the "Share" button.
	</p>

	<p>
	  <strong>
		  How do I reply to comments made by other dads?
		</strong>
		<br>
		Whenever anyone makes a comment, you'll see an input field with the
		placeholder text of "Reply to NAME", where NAME is who made the comment.
		Type what you want to share and hit the enter key.
	</p>

	<p>
	  <strong>
		  How do I answer the Question of the Day?
		</strong>
		<br>
		Go to the "🏠 Home" page and at the top you'll see a section with a default
		question shown. Underneath it is a link which says "Question of the Day".
		Click it and the question of the day will appear. Type what you want to post
		and then hit the "Share" button.
	</p>

	<!-- TODO: think thru this whole invite-only bit. For Alpha it probably is
	okay without it? -->
	<!-- <p>
	  <strong>
		  How are dads verified? Can anyone just sign up?
		</strong>
		<br>

		Ideally this is a private space used by dads.
		The conversations and connections made here are only as strong and,
		well, useful as the dads we know and invite to chop it up.

	  <p>
		  Right now access is limited and dads who are "verified" can roam freely
			about the app.
			All users who joined the waitlist are automatically verified.
	  </p>
	</p> -->

	<!-- TODO: add for Beta -->
	<!-- <p>
	  <strong>
		  How do I invite other dads to join?
		</strong>
		<br>
		Go to the "Invites" page where you'll see your referral code. Give this code
		to your dad friends and have them visit thedaddyapp.com. They'll need it to
		sign up because right now access is limited and only invite-only.
	</p> -->

	<p>
	  <strong>
		  What do you do with my data?
		</strong>
		<br>
		For starters, we keep it safe and do not and will not ever sell it to
		anyone. More specifically,
		<ul>
		  <li>The comments you make will be visible to other dads</li>
		  <li>
			  If you email us at hello@thedaddyapp.com, our
				correspondance will be private
			</li>
			<li>
			  If you later on want to delete your account and have already made
				comments, suggested new features, replied to some other dads, etc,
				your name will be displayed as "Anonymous" and your account and personal
				data will be removed from our database
			</li>
		</ul>
	</p>

	<p>
	  <strong>
		  Can I delete my account?
		</strong>
		<br>
		We'd hate to see you go, but yes you can. As of now, email
		hello@thedaddyapp.com to let us know you want to be removed and we'll
		take care of the rest. It'll be like your personal data never existed on
		this site.
	</p>

	<p>
	  <strong>
		  Do you have any swag for sale?
		</strong>
		<br>
		Not yet, but soon! We have some thoughts on what to sell, but let us know
		what kind of swag you'd want either on the
		<%= link_to "Feedback", feedbacks_path %> page or directly
		through email at hello@thedaddyapp.com.
	</p>

	<p>
	  <strong>
		  How can I get involved and help The Daddy App?
		</strong>
		<br>
		It'd be great to have you onboard: let us know how you'd like to get
		involved with an email to hello@thedaddyapp.com and we'll take it from
		there.
	</p>

	<p>
	  <strong>
		  What's the "🚨 Report" feature for?
		</strong>
		<br>
		If someone's comment goes against our
		<%= link_to "Community Guidelines", community_guidelines_path %>, hit this
		link to let us know it deserves some attention. Each report will be handled
		on a case-by-case basis. Thanks, in advance, for keeping this a "good vibes
		only" kind of space.
	</p>

	<p>
	  <strong>
		  Can I download this app on my phone?
		</strong>
		<br>
		Not yet!; there's nothing to download: The Daddy App is a web application
		and not a mobile application, which means you get to it by visiting
		"thedaddyapp.com" on your favorite browser like Safari, Chrome, Firefox,
		etc. One day we'll have an app you can download from the Apple Store
		or Google Play store to give you the most native experience you're used to
		from your other apps.

		<p>
		  Until then, you can add this site to your home screen for easy access.
			On Apple phones and tablets, tap the share button and then hit "Add to
			Home Screen". For Android users, the steps are similar but it depends on
			your phone.
		</p>
	</p>

	<p>
	  <strong>
		  I tapped the "🗓 Question of the Day" link, but instead want to leave a
			general comment &mdash; how do I get rid of it?
		</strong>
		<br>
		No worries, just refresh the page next time and it'll reset by itself.
	</p>
</div>
