<section class="hero is-large is-info is-bold">
  <div class="hero-body">
    <div class="container">
			<h1 class="title is-1">
				<div><strong>Chat</strong></div> with others like you
			</h1>
			<h2 class="subtitle is-3">
				Share in the journey and daily experiences of being a Daddy
			</h2>
			<button class="button is-large is-info is-inverted is-rounded">
				Join the Convo
			</button>
    </div>
  </div>
</section>

<section class="section" id="benefits">
	<div class="columns is-vcentered reverse-columns">
    <div class="column">
      <figure class="image is-3by2">
        <%= img('newborn-sleep.svg', 'sleeping newborn') %>
      </figure>
    </div>
    <div class="column">
      <h4 class="subtitle is-4">
        Get info and advice on topics like sleeping, money, feeding,
        relationships, and more
      </h4>
    </div>
  </div>

  <hr>

  <div class="columns is-vcentered">
    <div class="column">
      <figure class="image is-3by2">
        <%= img('newborn-cry.svg', 'crying newborn') %>
      </figure>
    </div>
    <div class="column">
      <h4 class="subtitle is-4">
        Talk to others about their experiences: the highs, lows, and everything
        in between
      </h4>
    </div>
  </div>

  <hr>

	<div class="columns is-vcentered">
    <div class="column">
      <h4 class="subtitle is-4">
        Share your own unique journey and experiences
      </h4>
    </div>
		<div class="column">
			<figure class="image is-3by2">
				<%= img('newborn-smile.svg', 'happy newborn') %>
			</figure>
		</div>
	</div>
</section>

<section class="section" id="join">
	<div class="level">
	  <div class="level-item has-text-centered">
			<button class="button is-large is-info is-rounded">
				Join the Convo
			</button>
	  </div>
	</div>
</section>
