<div class="container px-4 py-5 top-of-fold">
  <div class="row align-items-center g-lg-5 py-3">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="chewy display-1 fw-bold lh-1 mb-3">
        The Daddy App
      </h1>
      <p class="fs-1 space-for-daddies-text">
        A space for fathers to <mark>chat</mark>
      </p>
      <p class="mb-5">
        <span class="badge text-bg-light text-muted">🎉 Expected Due Date: January 2023 🎉</span> <br>
      </p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5 p-4 p-md-4 border rounded-3 bg-light join-waitlist">
      <%= render "join_waitlist_form", referral_code: @referral_code, waitlist_user: @waitlist_user %>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 why-join">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img_pack('newborn_sleep.svg', 'Sleepy newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        You're Not Alone
      </h1>
      <p class="lead">
        Have a question? Feel lost sometimes? Just want to chop it up with other
        fathers? Get info and advice on topics like sleeping, money, feeding,
        relationships, and more.
      </p>
    </div>
  </div>

  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img_pack('newborn_smile.svg', 'Smiling newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Built By Us, For Us</h1>
      <p class="lead">
        We're dads who developed this app to talk about the highs, lows, and
        everything in between.

        It's a community tailored to us with features to not only share our own
        unique journey and experiences with other pops, but also find ways to
        connect more with our minion(s).
      </p>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img_pack('newborn_cry.svg', 'Crying newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Early Access</h1>
      <p class="lead">
        Join the limited waitlist and automatically be entered in this month's
        free raffle. We'll announce the three lucky winners on the day we
        officially launch.
      </p>
    </div>
  </div>
</div>
