<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="chewy display-1 fw-bold lh-1 mb-3">
        The Daddy App
      </h1>
      <p class="col-lg-10 fs-1 space-for-daddies-text">
        A space for dads like you <br> to <mark>chat.</mark>
      </p>
      <p class="mb-5">
        <span class="expected-due-date rounded text-bg-light text-secondary p-1">
          <strong>🎉 Expected Due Date: 10/24/22 🎉</strong>
        </span>
      </p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5 p-4 p-md-4 border rounded-3 bg-light join-waitlist">
      <%= render "join_waitlist_form", referral_code: @referral_code, waitlist_user: @waitlist_user %>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5 why-join">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-sleep.svg', 'Sleepy newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        A Space Just For Us
      </h1>
      <p class="lead">
        Get info and advice on topics like sleeping, money, feeding,
        relationships, and more.
      </p>
    </div>
  </div>

  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-smile.svg', 'Smiling newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Built By Us, For Us</h1>
      <p class="lead">
        You're not alone -- share your unique journey and experiences.
      </p>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-cry.svg', 'Crying newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">The Highs And The Lows</h1>
      <p class="lead">
        Talk to others about their experiences: the highs, lows, and everything
        in between.
      </p>
    </div>
  </div>
</div>
