<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="chewy display-1 fw-bold lh-1 mb-3">
        The Daddy App
      </h1>
      <p class="col-lg-10 fs-2">
        Share in the journey and daily experiences of fatherhood.
      </p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select form-select mb-3 form-control" aria-label=".form-select-lg example">
            <option selected>Open this select menu</option>
            <option value="1">First-timer</option>
            <option value="2">Seasoned</option>
            <option value="3">Stepdad</option>
            <option value="4">Adopter</option>
          </select>
          <label for="floatingInput">Type of Daddy</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Join the Waitlist
        </button>
        <hr class="my-4">
        <small class="text-muted">
          By joining, you'll be entered in a free raffle.
          Many will enter, few will win -- boost your chances
          whenyou refer other daddys.
        </small>
      </form>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-sleep.svg', 'Sleepy newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        A Space Just For Us
      </h1>
      <p class="lead">
        Get info and advice on topics like sleeping, money, feeding,
        relationships, and more.
      </p>
    </div>
  </div>

  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-smile.svg', 'Smiling newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">Built By Us, For Us</h1>
      <p class="lead">
        You're not alone -- share your unique journey and experiences.
      </p>
    </div>
  </div>

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-5">
      <%= img('newborn-cry.svg', 'Crying newborn', class: "d-block mx-lg-auto img-fluid", loading: "lazy") %>
    </div>
    <div class="col-lg-7">
      <h1 class="display-5 fw-bold lh-1 mb-3">The Highs And The Lows</h1>
      <p class="lead">
        Talk to others about their experiences: the highs, lows, and everything
        in between.
      </p>
    </div>
  </div>
</div>
