<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
		  <%= link_to "Home", signed_in_root_path, class: "text-decoration-none" %>
		</li>
    <li class="breadcrumb-item">
		  <%= link_to "Support", support_path, class: "text-decoration-none" %>
		</li>
    <li class="breadcrumb-item active" aria-current="page">Rewards</li>
  </ol>
</nav>

<div class="fs-4">
  <h1 class="mb-4">Rewards</h1>
	<p>
	  Every so often we raffle away free goodies. Based on your
		interactions with the app, you'll earn virtual raffle tickets. The more
		tickets you have, the higher the chance for you to win.
	</p>
	<p>
	  You'll automatically get more raffle tickets after you
		<ul>
		  <li>Join conversations</li>
		  <li>Refer other dads</li>
		  <li>Answer the Question of the Day</li>
		  <li>Suggest new features</li>
		  <li>Report bugs</li>
		</ul>
	</p>
</div>
