.comments {
  article.media {
    border-top: none;

    &.has-background-white-ter {
      margin-bottom: 1rem;
    }
  }

  .avatar-block {
    background: $blue;
    color: $white;
    font-weight: 700;
    height: 40px;
    padding-left: 0.9rem;
    padding-top: 0.5rem;
    width: 40px;
  }

  .replies {
    margin-bottom: 1rem;
  }
}

#create-comment {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
