.add-another-child-link-wrapper {
  margin-top: 2rem;
}

.registration-child-add-link, .registration-child-remove-link {
  text-decoration: none;
}

.registration-child-wrapper {
  hr {
    margin: 2rem 0;
  }
}