.add-another-baby-link-container {
  margin-top: 2rem;
}

.registration-baby-add-link, .registration-baby-remove-link {
  text-decoration: none;
}

.registration-baby-container {
  hr {
    margin: 2rem 0;
  }
}