.attributions {
  font-size: xx-small;
}

.chewy {
  font-family: "Chewy", cursive;
}

.navbar-brand {
	font-size: 2.2rem;
}

.navbar .nav-link {
  font-size: 1.4rem;
}

.readonly-input {
  background: #e9ecef;
  opacity: 1;
}

.styled-btn-card-link {
  border: 0;
  padding: 0.095rem !important;
}