<div class="content-container">
  <div class="content">
    <%= image_pack_tag "emails/invite.png",
                  alt: "Special invitation to join The Daddy App" %>
    <p>Hey <%= @invitee_email %>,</p>
    <p>
      A friend <%= "(#{@inviter_email})" if @inviter_email %> invited you to
      join The Daddy App!
    </p>
    <p>
      It's an online community where dads connect over the ups and downs of
      fatherhood.
    </p>
    <p>
      Share your experiences and get advice on topics like money, relationships,
      feeding, and more.
    </p>
    <p>
      All the best with your children and don't forget to
    </p>
    <p>
      <%= link_to "Join the conversation",
                  sign_up_url(email: @invitee_email),
                  class: "btn" %>
    </p>
  </div>
</div>
