<div class="content-container">
  <div class="content">
    <%= image_tag 'emails/invite.png',
                  alt: 'Special invitation to join The Daddy App' %>
    <p>Hey <%= @invitee %>,</p>
    <p>
      <%= @inviter %> has invited you to join The Daddy App!
    </p>
    <p>
      It's an online community where fathers meet over the ups and downs of
      fatherhood.
    </p>
    <p>
      Share your experiences and get advice on topics like money, relationships,
      feeding, and more.
    </p>
    <p>
      All the best with your little one and don't forget to
    </p>
    <button>JOIN THE CONVERSATION</button>
    <p>
      Danelson
      <br>
      Daddy to DJ, 7-months old
    </p>
  </div>
</div>
