<div class="content-container">
  <div class="content">
    <%= image_pack_tag "emails/invite.png",
                  alt: "Special invitation to join The Daddy App" %>
    <p>Hey <%= @invitee_email %>,</p>
    <p>
      A friend <%= "(#{@inviter_email})" if @inviter_email %> thought you
      might want to join the conversations on The Daddy App!
    </p>
    <p>
      It's an online community where fathers meet over the ups and downs of
      fatherhood.
    </p>
    <p>
      Share your experiences and get advice on topics like money, relationships,
      feeding, and more.
    </p>
    <p>
      All the best with your little one(s) and don't forget to
    </p>
    <button>JOIN THE CONVERSATION</button>
    <p>
      Danelson
      <br>
      Daddy to DJ, 3.5 years old &amp; Zuri, 7 months old
    </p>
  </div>
</div>
