<div class="content-container">
  <div class="content">
    <%= image_tag 'emails/waitlist_user_joined.png',
                  alt: 'Special invitation to join The Daddy App' %>
    <%= render "waitlist_users/joined", first_name: @first_name, referral_code: @referral_code %>
    <p>
      Danelson
      <br>
      Daddy to DJ, 3 years old &amp; Zuri, 3 months old
    </p>
  </div>
</div>
