<div class="content-container">
  <div class="content">
    <%= image_pack_tag 'emails/waitlist_user_joined.png',
                  alt: 'Special invitation to join The Daddy App' %>

    <%= render "waitlist_users/joined", first_name: @first_name, referral_code: @referral_code %>

    <p>The Daddy App Team</p>
  </div>
</div>
