<p>
  <span class="fs-3">🎉</span> Thanks for joining the waitlist &mdash; we're excited for this
  community to exist really soon.
</p>
<p>
  <span class="fs-3">🎟</span> You've automatically been entered in our free raffle!
  We'll announce the winners on the day we officially launch.
</p>
<p>
  <!-- TODO: Jazz up this referral section -->
  <!-- TODO: What are the loopsholes for this? Someone can put in their referral code
    in the URL and submit N signups with random emails. If you use the Invite (aka Referral)
    model, which has status, you can add a step for the referee to accept the referrer's
    referral.
  -->
  <span class="fs-3">👥</span> Increase your chances of winning by referring other daddies! Copy
  and share your referral link below via text, email,
  social media, or even a carrier pigeon. When your daddy-friends join the
  waitlist, they get X and you get Y.
</p>
<p class="fs-5">
  <%= join_url(referral_code: waitlist_user.referral_code) %>
</p>
