<footer class="mt-4 text-center">
  <p>
    Have any questions or need help? Don't ever hesitate to reach out
    via email at <%= mail_to "hello@thedaddyapp.com" %>.
  </p>
  <p>
    Thanks; talk soon,
    <br>
    The Daddy App Team
  </p>
</footer>
