.comments {
  article.media {
    border-top: none;

    &.has-background-white-ter {
      margin-bottom: 1rem;
    }
  }

  .avatar-block {
    background: $blue;
    height: 40px;
    width: 40px;
  }

  .replies {
    margin-bottom: 1rem;
  }
}