section#benefits {
	text-align: center;

	figure {
		margin: auto;
		width: 167px;
	}
}

@include tablet {
	section.hero {
		.subtitle.is-3 {
			font-size: 40px;
		}
		.title.is-1 div {
			display: inline-block;
			min-width: 141px;
		}
	}

	section#benefits {
		figure {
			width: 240px;
		}

		.reverse-columns {
			flex: row;
			flex-direction: row-reverse;
		}

		.subtitle.is-4 {
			font-size: 32px;
		}
	}
}
