@include tablet {
	section.hero {
		.subtitle.is-3 {
			font-size: 40px;
		}
		.title.is-1 div {
			display: inline-block;
			min-width: 141px;
		}
	}

	section#benefits {
		.reverse-columns {
			flex: row;
			flex-direction: row-reverse;
		}
	}
}
