<footer class="footer">
	<div class="content text-center">
		<p>
			<strong>
				&copy; <%= Date.today.year %>
			  The Daddy App
			</strong>
			<br>
			Refer Others
			&middot;
			hello@thedaddyapp.com
		</p>
	</div>
</footer>
