<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="container">
      <%= render 'layouts/navbar' %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
