<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
      body {
        background: #F7F7F7;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        font-size: 23px;
      }

      .btn {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        vertical-align: middle;

        &:hover {
          text-decoration: none;
        }
      }


      img {
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
      }

      .main {
        margin: 0 auto;
        padding: 0 5rem 5rem;
        width: 700px;
      }

      .content-container {
        .content {
          background: #FFF;
          max-width: 800px;
          margin: auto;
          padding: 15px 30px;

          p {
            background: #FFF;
            color: #555555;
            line-height: 24px;
            text-align: left;
          }

          a {
            font-weight: 400;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      footer {
        margin-top: 1.4em;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <%= yield %>

      <footer class="mt-4 text-center">
        <p>
            Have any questions or need help? Don't ever hesitate to reach out
            via email at <%= mail_to "hello@thedaddyapp.com" %>.
        </p>
        <p>
          Thanks; talk soon,
          <br>
          The Daddy App Team
        </p>
      </footer>
    </div>
  </body>
</html>
